<h1>Tweets#index</h1>


<% @tweets.each do |tweet| %>
  <hr>
  <p><span>ツイート内容: </span><%=link_to tweet.body, tweet_path(tweet.id) %></p>
  <%# もしユーザーがログインしていたらtrue %>
  <% if user_signed_in? %>
  <%# ログインしていれば %>
    <% if tweet.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
        <p><span>お気に入り解除: </span><%= link_to tweet.favorites.count, tweet_favorites_path(tweet.id), data: { turbo_method: :delete } %></p>
    <% else %>
        <p><span>お気に入り登録: </span><%= link_to tweet.favorites.count, tweet_favorites_path(tweet.id), data: { turbo_method: :post } %></p>
    <% end %>
  <% else %>
  <%# ログインしていなければ %>
    <p><span>お気に入り数: </span><%= tweet.favorites.count %></p>
  <% end %>

<% end %>

